.creative-gallery-section-container
    h2.bold.text-primaryGradient Discover a better way to tell your brand story.
    .triggerGalleryMenuContainer
        button.triggerGalleryMenu
            img(src="/images/wrench.svg")
            span Products & format
    .creative-gallery-section-inner
        .tab
            span Creative Gallery
        .gallery-container
            .large-controls
                .product-selection-container
                    span.controlHeadline Product Selection
                    .product-select-grid
                        .select-item
                            img(src="/images/product_icon_native_active-3 1.svg")
                            span Native
                        .select-item
                            img(src="/images/play-in-circle.svg")
                            span Video
                        .select-item
                            img(src="/images/branded-content.svg")
                            span Branded Content
                        .select-item
                            img(src="/images/w_display_no_ad 2.svg")
                            span Display
                .format-selection-container
                    span.controlHeadline Format Selection 
                    button.format-select 
                        span Cinemagraph 
                        img(src="/images/formatselect1.svg")
                    button.format-select 
                        span Image 
                        img(src="/images/formatselect1.svg")
                    button.format-select 
                        span Scroll 
                        img(src="/images/formatselect1.svg")
                    button.format-select 
                        span Window 
                        img(src="/images/formatselect1.svg")
                    button.format-select 
                        span Carousel 
                        img(src="/images/formatselect1.svg")
                    button.format-select 
                        span Reveal 
                        img(src="/images/formatselect1.svg")
                    button.format-select 
                        span Pharma 
                        img(src="/images/formatselect1.svg")

            .selected-gallery-content
                img.selected-gallery-visual(src="/images/mobile-grey 1.png")
                .selected-gallery-copy
                    span.gallery-product-title Native: CINEMAGRAPH 
                    span.gallery-product-caption Best for increasing traffic and brand awareness.
                    span.gallery-product-description Engage your audience with subtle movement that captures attention and draws the user into your brand message. Cinemagraph ads provide a unique experience that brings still images to life.
