.creative-gallery-section-container
    h2.bold.text-primaryGradient Discover a better way to tell your brand story.
    .creative-gallery-section-inner
        button.triggerGalleryMenu
            img(src="/images/wrench.svg")
            span Products & format
        .tab
            span Creative Gallery
        .gallery-container
            img(src="/images/cinemagraph-still.png")
            span.gallery-product-title Native: CINEMAGRAPH 
            span.gallery-product-caption Best for increasing traffic and brand awareness.
            span.gallery-product-description Engage your audience with subtle movement that captures attention and draws the user into your brand message. Cinemagraph ads provide a unique experience that brings still images to life.
