.explore-our-gallery-container
  a.does-not-work.explore-our-gallery
    .animate-border-outer.shadow-3
    .animate-border-content
      span.headline.white Explore our creative gallery to find solutions for any objective.
      span.cta.cta-style-2 
        span Explore formats 
        img(src="/images/arrow-right.svg")

