.hero.not-homepage.ideas-hero
  .tech-layer
  .copy.mt3
    h1 Ideas
    p.pink.mt3 TripleLift strives to be the most supportive company in ad tech. As part of that mission, we’re always developing ideas to start conversations and help solve challenges.
    p Keep reading to see what’s on our mind.
  include ../modules/ideas-hero-visual.pug