.hero.not-homepage.products-hero
  .copy.mt3
    h1.text-secondaryGradient1 Ideas
    p.mt3 TripleLift strives to be the most supportive company in ad tech. As part of that mission, we’re always developing ideas to start conversations and help solve challenges.
    p Keep reading to see what’s on our mind.
  //- include ../modules/OTT-breakout.pug

include ../modules/down-arrow.pug
