.hero-visual.ideas
  .between-product-page-ctas.trans1
    .texture.texture3.vertical-texture-animation
  .between-product-page-ctas.trans1
    .texture.texture3.vertical-texture-animation
  .between-product-page-ctas.trans1
    .texture.texture3.vertical-texture-animation