.hero-visual.ideas
  .between-product-page-ctas.trans1
    .texture.texture1.vertical-texture-animation
  .between-product-page-ctas.trans1
    .texture.texture1.vertical-texture-animation
  .between-product-page-ctas.trans1
    .texture.texture1.vertical-texture-animation