.between-product-page-ctas.center
  .texture.texture1.vertical-texture-animation
.innovation-header-container 
  .bg
  .innovation-inner-container
    .copy
      h2 Innovation
      p We say that we’re reinventing ad placement one medium at a time…and we mean it. Keep scrolling to see how our OTT business is changing the television advertising landscape and explore our Exchange Traded Deals, the smart way to buy, measure and optimize programmatic media.
  .between-product-page-ctas.center
    .texture.vertical-texture-animation.texture2
