.hero-visual.laptop-breakout
  img.lb1(src="/images/laptop-breakout/1.png")
  img.lb2(src="/images/laptop-breakout/2.png")
  img.lb3(src="/images/laptop-breakout/3.png")
  img.lb4(src="/images/laptop-breakout/4.png")