.hero-visual.laptop-breakout
  img.lb1(src="/images/laptop-breakout/1.png")
  img.lb2(src="/images/laptop-breakout/2.png")
  img.lb3(src="/images/laptop-breakout/3.png")
  img.lb4(src="/images/laptop-breakout/4.png")

.hero-visual.laptop-breakout.laptop-breakout-large
  img.lb1(src="/images/laptop-breakout/large/1.png")
  img.lb2(src="/images/laptop-breakout/large/2.png")
  img.lb3(src="/images/laptop-breakout/large/3.png")
  img.lb4(src="/images/laptop-breakout/large/4.png")
  img.lb5(src="/images/laptop-breakout/large/5.png")
  img.lb6(src="/images/laptop-breakout/large/6.png")
  img.lb7(src="/images/laptop-breakout/large/7.png")
