.hero-visual.laptop-breakout
  img.lb1(src="/images/laptop-breakout/Product_Hero_Comp_02.png")
  img.lb2(src="/images/laptop-breakout/Product_Hero_Code_02.png")
  img.lb3(src="/images/laptop-breakout/Product_Hero_Pub_02.png")
  img.lb4(src="/images/laptop-breakout/Product_Hero_Creative_02.png")