
- var currentUrl = page
.main-nav
  a.company(href="company.html" class={active: currentUrl === 'company'}) 
    span Company
  a.products(href="products.html" class={active: currentUrl === 'products'}) 
    span Products
  a.technology(href="technology.html" class={active: currentUrl === 'technology'}) 
    span Technology
  a.ideas(href="ideas.html" class={active: currentUrl === 'ideas'}) 
    span Ideas
  a.contact-us.does-not-work(class={active: currentUrl === 'contact'}) 
    span Contact us
a.does-not-work.login(class={active: currentUrl === 'contact'}) Login
