
- var currentUrl = page
.main-nav
  a.does-not-work() Company
  a(href="products.html" class={active: currentUrl === 'products'}) Products
  a(href="technology.html" class={active: currentUrl === 'technology'}) Technology
  a(href="ideas.html" class={active: currentUrl === 'ideas'}) Ideas
  a.does-not-work(class={active: currentUrl === 'contact'}) Contact us
a.does-not-work.login(class={active: currentUrl === 'contact'}) Login
