.hero-visual.OTT-breakout
  img.lb1(src="/images/OTT-breakout/Tech_Hero_Screen_V02.png")
  img.lb2(src="/images/OTT-breakout/Tech_Hero_Code.png")
  .video-container
    iframe.video(src="https://player.vimeo.com/video/527615232?background=1&amp;autoplay=1" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen="")