.hero-visual.OTT-breakout
  img.lb1(src="/images/OTT-breakout/1.png")
  img.lb2(src="/images/OTT-breakout/2.png")
  img.lb3(src="/images/OTT-breakout/3.png")
  img.lb4(src="/images/OTT-breakout/4.png")