.hero.not-homepage.company-careers-hero.ott-hero
  .copy.mt3
    h1 OTT
    p.calmingBlue.mt3 We’ve pioneered an innovative post-production solution that provides integrated ad experiences in streaming TV.
  .hero-visual.company-careers
    .video-container
      iframe(class="lazy-loaded" frameborder="0" allow="autoplay; fullscreen" allowfullscreen="" src="https://player.vimeo.com/video/420893419?background=1")  