.phone-breakout
  img(src="/images/phone-breakout/Home_Hero_PhoneLayersPhone@3x.png")
  img(src="/images/phone-breakout/Home_Hero_PhoneLayersCodeall@3x.png")
  img(src="/images/phone-breakout/Home_Hero_PhoneLayersPublisher@3x.png")
  img(src="/images/phone-breakout/Home_Hero_PhoneLayersCreative@3x.png")
  img(src="/images/phone-breakout/Home_Hero_PhoneLayersLinesall@3x.png")
  img(src="/images/phone-breakout/Home_Hero_PhoneLayersNotessall@3x.png")
  iframe.video(src="https://player.vimeo.com/video/526715870?background=1&amp;autoplay=1" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen="")