.hero.products-hero
  .copy.mt3
    h1.text-secondaryGradient1 Products
    p.mt3 TripleLift has built a portfolio of modern ad products. From our roots in Native programmatic ads, we have expanded into Display, Branded Content, Video and Television.
    p We have products to fit almost any objective.
  include ../modules/down-arrow.pug
