.technology-breakouts
    .breakout-container.on-small.middle
        .image-container
            img(src="/images/technology-homepage/middle/TL_3Phones_MIDDLE_Phone_jrV03.png")
            img(src="/images/technology-homepage/middle/TL_3Phones_MIDDLE_Publisher_jrV03.png")
        .video-container
            iframe.video(src="https://player.vimeo.com/video/527949240?background=1&amp;autoplay=1" width="358" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen="")

    .breakout-container.on-large
        .image-container
            img(src="/images/technology-homepage/all/TL_3Phones_SingleImage_Phones_jrV02.png")
            img(src="/images/technology-homepage/all/TL_3Phones_SingleImage_Publisher_jrV01.png")
        .video-container.left
            iframe.video.playVideoOnHover(src="https://player.vimeo.com/video/528140775?background=1&amp;autoplay=1" width="358" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen="")
        .video-container.middle
            iframe.video(src="https://player.vimeo.com/video/527949240?background=1&amp;autoplay=1" width="358" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen="")
        .video-container.right
            iframe.video.playVideoOnHover(src="https://player.vimeo.com/video/528607058?background=1&amp;autoplay=1" width="358" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen="")