.hero.not-homepage.products-hero
  .copy.mt3
    h1.text-secondaryGradient1 Technology
    p.mt3 TripleLift is leading the next generation of programmatic advertising by reinventing ad placements one medium at a time.
    .show-on-large
      p Our technology powers ads that make advertising better for everyone – higher performing for brands, more lucrative for publishers and more respectful of the consumer’s experience.
      p See how our technology is powering that revolution.
  include ../modules/OTT-breakout.pug
  .show-on-small
    p Our technology powers ads that make advertising better for everyone – higher performing for brands, more lucrative for publishers and more respectful of the consumer’s experience.
    p See how our technology is powering that revolution.

include ../modules/down-arrow.pug
