.technology-breakouts
    .plusses 
    .plusses-2x 
    .plusses-4x 
    .breakout-container.left.playVideoOnHover
        .image-container
            img(src="/images/technology-homepage/left/Home_Hero_Left_Phone_redo.png")
            img(src="/images/technology-homepage/left/Home_Hero_1-3Phones_Left_Pub.png")
            .video-container
                iframe.video.videoToPlayOnHover(src="https://player.vimeo.com/video/527954520?background=1&amp;" width="174" height="231" frameborder="0" allow="fullscreen" allowfullscreen="")
    .breakout-container.middle
        .image-container
            img(src="/images/technology-homepage/middle/Home_Hero_1-3Phones_Mid_PhoneRedo@3x.png")
            img(src="/images/technology-homepage/middle/Home_Hero_1-3Phones_Mid_Code.png")
            img(src="/images/technology-homepage/middle/Home_Hero_1-3Phones_Mid_Pub.png")
            .video-container
                iframe.video(src="https://player.vimeo.com/video/527949240?background=1&amp;autoplay=1" width="358" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen="")
    .breakout-container.right.playVideoOnHover
        .image-container
            img(src="/images/technology-homepage/right/Home_Hero_1-3Phones_Right_Phone_redo.png")
            img(src="/images/technology-homepage/right/Home_Hero_1-3Phones_Right_Pub.png")
            img(src="/images/technology-homepage/right/Home_Hero_1-3Phones_Right_Crea3.png")
            .video-container
                iframe.video.videoToPlayOnHover(src="https://player.vimeo.com/video/527615252?background=1&amp;" frameborder="0" allow="fullscreen" allowfullscreen="")
