.technology-breakouts
    .breakout-container.left
        span.title Carousel
        .image-container
            img(src="/images/technology-homepage/left/Home_Hero_Left_Phone.png")
            img(src="/images/technology-homepage/left/Home_Hero_1-3Phones_Left_Pub.png")
            img(src="/images/technology-homepage/left/Home_Hero_1-3Phones_Left_Creat3.png")
    .breakout-container.middle
        span.title Cinemagraph
        .image-container
            img(src="/images/technology-homepage/middle/Home_Hero_1-3Phones_Mid_Phone.png")
            img(src="/images/technology-homepage/middle/Home_Hero_1-3Phones_Mid_Pub.png")
            .video-container
                iframe.video(src="https://player.vimeo.com/video/527081731?background=1&amp;autoplay=1" width="358" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen="")
    .breakout-container.right
        span.title Video
        .image-container
            img(src="/images/technology-homepage/right/Home_Hero_1-3Phones_Right_Phone.png")
            img(src="/images/technology-homepage/right/Home_Hero_1-3Phones_Right_Pub.png")
            img(src="/images/technology-homepage/right/Home_Hero_1-3Phones_Right_Crea3.png")
