mixin why-triplelift-section(title, body)
  .why-triplelift-section.flex.flex-column
    .flex.items-end
      h3= title 
    p.pt3= body 

.why-triplelift
  h2 Why TripleLift?
  .why-triplelift-section-container
    +why-triplelift-section(
      "Direct", 
      "We build relationships directly with publishers to deliver brand safe environments and better performance."
    )
    +why-triplelift-section(
      "Diverse", 
      "We offer products across channels, formats, publishers and partners."
    )
    +why-triplelift-section(
      "Designed", 
      "We apply technologies to ensure that the delivery of your creative is worthy of your brand."
    )

