footer
    .footer-inner-container
        .footer-newsletter-connect-container
            .newsletter-container 
                h2 Our industry moves fast.
                p Sign up to stay up-to-date on the latest news, trends, and upcoming events.
                include ../modules/newsletter.pug
            .social-media-container
                h2 Connect with us!
                ul
                    li 
                        a(href="#")
                            img(src="/images/icons/linkedin.svg")
                    li 
                        a(href="#")
                            img(src="/images/icons/twitter.svg")
                    li 
                        a(href="#")
                            img(src="/images/icons/facebook.svg")
                    li 
                        a(href="#")
                            img(src="/images/icons/instagram.svg")
        .footer-menu
            div
                h3 Policies
                ul
                    li
                        a(href="#") Privacy
                    li
                        a(href="#") Terms Of Use
                    li
                        a(href="#") Creative Ad Policies
                    li
                        a(href="#") Exchange Supply Policies
                    li
                        a(href="#") TripleLift Cookie Opt-out
            div
                h3 Resources
                ul
                    li
                        a(href="#") Native Academy
                    li
                        a(href="#") Careers
                    li
                        a(href="#") Company
            div
                h3 Certifications & Affiliations
                ul.certs-affils
                    li
                        img(src="https://mk0newtlihs9atvmilj.kinstacdn.com/wp-content/themes/genesis-triplelift/images/certs/cmyk_tag_registration.svg")
                    li
                        img(src="https://mk0newtlihs9atvmilj.kinstacdn.com/wp-content/themes/genesis-triplelift/images/certs/rgb_tag_certified.svg")
                    li
                        img(src="https://mk0newtlihs9atvmilj.kinstacdn.com/wp-content/themes/genesis-triplelift/images/certs/iab_uk_gold.svg")
                    li
                        img(src="https://mk0newtlihs9atvmilj.kinstacdn.com/wp-content/themes/genesis-triplelift/images/certs/iab_member_seal.svg")
                    li
                        img(src="https://mk0newtlihs9atvmilj.kinstacdn.com/wp-content/themes/genesis-triplelift/images/certs/edaa_certifited_abc.svg")
        .footer-small-print
            img(src="https://mk0newtlihs9atvmilj.kinstacdn.com/wp-content/themes/genesis-triplelift/images/logo-white.png")
            span Copyright © 2021 All Rights Reserved TripleLift

script(src="https://code.jquery.com/jquery-3.3.1.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/ScrollTrigger.min.js")
script(src="https://unpkg.com/micromodal/dist/micromodal.min.js")
script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
script(src="https://cdn.jsdelivr.net/npm/@vimeo/player@2.15.0/dist/player.min.js")
script(src="js/site.js")
block additional-scripts
