body {
  font-family: "Avenir", sans-serif;
  font-weight: 300;
}

p {
  line-height: 1.5;
}

h2,
h4 {
  line-height: 1.2;
}

.bold {
  font-weight: 800;
}

.f26 {
  font-size: 26px;
}

.text-primaryGradient {
  background: $primaryGradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}

.text-secondaryGradient1 {
  background: $secondaryGradient1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}
