extends ../template.pug

block content
  - var page = "company"
  #technologyPageJSIndicator
  include ../regions/header.pug
  .who-we-are
    div
      span Who We Are
    h1 TripleLift is a technology company rooted at the intersection of creative and media.  
  h2 Mission 
