extends ../template.pug

block content
  - var page = "company-careers"
  #ideasPageJSIndicator
  include ../regions/header.pug
  .ideaspage-section-transition-container.section-transition-container
    .section-transition.white
    .section-transition.gradientDark1
  include ../modules/company-careers-hero.pug
  .bland-section-container.latest-blog-posts-section-container
    .heading
      h2.h1 Benefits
      p At TripleLift, we believe that to be at your best, you need balance, quality healthcare and a positive working environment. These programs are designed to support you and your goals.
  