extends ../template.pug

block content
  - var page = "company-careers"
  #ideasPageJSIndicator
  include ../regions/header.pug
  .ideaspage-section-transition-container.section-transition-container
    .section-transition.white
    .section-transition.gradientDark1
  include ../modules/company-careers-hero.pug
  .bland-section-container.latest-blog-posts-section-container
    .heading
      h2.h1.text-primaryGradient Latest Blog Posts
      p A supportive company is a company that communicates. 
      p Here’s what we’ve been thinking about.