extends ../template.pug

mixin coreValue(number, headline, body)
  .core-value-container 
    .headline-container
      h4.headline !{headline}
    p.body= body

block content
  - var page = "contact-us"
  #ideasPageJSIndicator
  include ../regions/header.pug
  .companycareers-section-transition-container.section-transition-container
    .section-transition.white
  .bland-section-container.latest-blog-posts-section-container
    .heading
      h2.h1 Contact Us
    