extends ../template.pug

block content
  - var page = "ideas"
  #ideasPageJSIndicator
  include ../regions/header.pug
  .ideaspage-section-transition-container.section-transition-container
    .section-transition.section1
    .section-transition.white
  include ../modules/ideas-hero.pug
  .latest-blog-posts-section-container
    h2.h1.text-primaryGradient Latest Blog posts
    p A supportive company is a company that communicates. 
    p Here’s what we’ve been thinking about.