extends ../template.pug

block content
  .loading
  include ../regions/header.pug
  .homepage
    .homepage-section-transition-container.section-transition-container
      .section-transition.section1
      .section-transition.section2
      .section-transition.section3
    include ../modules/homepage-hero.pug
    include ../modules/down-arrow.pug
    include ../modules/why-triplelift.pug
    include ../modules/explore-our-gallery.pug
    include ../modules/we-work-with.pug
