extends ../template.pug

block content
  #homepageJSIndicator
  .loading
  include ../regions/header.pug
  .homepage
    .homepage-section-transition-container.section-transition-container
      .section-transition.transition1
      .section-transition.transition2
    include ../modules/homepage-hero.pug
    include ../modules/why-triplelift.pug
    include ../modules/explore-our-gallery.pug
    include ../modules/technology-breakouts.pug
    include ../modules/we-work-with.pug
