extends ../template.pug

block content
  include ../regions/header.pug
  .productpage-section-transition-container.section-transition-container
    .section-transition.section1
    .section-transition.white
  include ../modules/products-hero.pug
  include ../modules/creative-gallery.pug
  .innovation-container 
      h2 Innovation
      p We say that we’re reinventing ad placement one medium at a time…and we mean it. Keep scrolling to see how our OTT business is changing the television advertising landscape and explore our Exchange Traded Deals, the smart way to buy, measure and optimize programmatic media.
  .explore-our-gallery-container
    a.does-not-work.explore-our-gallery
        .animate-border-outer.shadow-3
        .animate-border-content
        span.headline.text-primaryGradient Explore our creative gallery to find solutions for any objective.
        span.cta.cta-style-2 
            span Explore formats 
            img(src="/images/arrow-right.svg")
  .explore-our-gallery-container
    a.does-not-work.explore-our-gallery
        .animate-border-outer.shadow-3
        .animate-border-content
        span.headline.text-primaryGradient Explore our creative gallery to find solutions for any objective.
        span.cta.cta-style-2 
            span Explore formats 
            img(src="/images/arrow-right.svg")
  .explore-our-gallery-container
    a.does-not-work.explore-our-gallery
        .animate-border-outer.shadow-3
        .animate-border-content
        span.headline.text-primaryGradient Explore our creative gallery to find solutions for any objective.
        span.cta.cta-style-2 
            span Explore formats 
            img(src="/images/arrow-right.svg")

