extends ../template.pug

block content
  .loading
  include ../regions/header.pug
  .section-transition-container
    .section-transition.section1
    .section-transition.section2
    .section-transition.section3
  include ../modules/products-hero.pug
  include ../modules/why-triplelift.pug
  include ../modules/explore-our-gallery.pug
  include ../modules/we-work-with.pug