extends ../template.pug

block content
  include ../regions/header.pug
  .section-transition-container
    .section-transition.section1
  include ../modules/products-hero.pug
  include ../modules/creative-gallery.pug