extends ../template.pug

block content
  #productPageJSIndicator
  include ../regions/header.pug
  .productpage-section-transition-container.section-transition-container
    .section-transition.section1
    .section-transition.white
  include ../modules/products-hero.pug
  include ../modules/creative-gallery.pug
  include ../modules/innovation-header.pug
  .explore-our-gallery-container
    a.does-not-work.explore-our-gallery
        .animate-border-outer.shadow-3
        .animate-border-content
        span.headline.text-primaryGradient Explore our creative gallery to find solutions for any objective.
        span.cta.cta-style-2 
            span Explore formats 
            img(src="/images/arrow-right.svg")
  .explore-our-gallery-container
    a.does-not-work.explore-our-gallery
        .animate-border-outer.shadow-3
        .animate-border-content
        span.headline.text-primaryGradient Explore our creative gallery to find solutions for any objective.
        span.cta.cta-style-2 
            span Explore formats 
            img(src="/images/arrow-right.svg")
  .explore-our-gallery-container
    a.does-not-work.explore-our-gallery
        .animate-border-outer.shadow-3
        .animate-border-content
        span.headline.text-primaryGradient Explore our creative gallery to find solutions for any objective.
        span.cta.cta-style-2 
            span Explore formats 
            img(src="/images/arrow-right.svg")

