.phone-breakout {
  position: relative;
  margin-top: 4vh;
  height: 40vh;
  width: 100%;

  img {
    top: 0;
    width: 87%;
    position: absolute;
    left: 59%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 330px;
  }
}

.laptop-breakout {
  position: relative;
  width: 100%;

  img {
    top: 0;
    width: 87%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
