.company-page-section {
    background: $heritageBlue;
    min-height: 300px;
    display: flex;
    color: white;

    .section-copy {
        padding: 0 24px 80px;

        @media (min-width: 1024px) {
            padding-bottom: 0;
        }


        h3 {
            padding-top: 40px;
        }
        h1, h2, h3 {
            font-size: 24px;
            padding-top: 24px;
            font-size: 24px;
            font-weight: bold;;
            @media (min-width: 1024px) {
                padding-top: 0;
            }
        }

        p {
            margin-top: 24px;
            font-size: 20px;
            line-height: 1.4;
        }
    }

    &.who-we-are {
        padding-top: 80px;
    }

    &.leadership,
    &.mission {
        background: white;
        color: $heritageBlue;
    }
}

.company-page-sticky-animation {
    display: none;
}

@media (min-width: 1024px) {
    
    .company-page-sticky-animation {
        position: absolute;
        display: flex;
        padding-top: 80px;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        min-height: 580px;

        .icon-container {
            img {
                width: 80%;
            }
        }

    }
    .company-page-section {
        .section-copy .big {
            font-size: 48px;
        }
    }
    

    .who-we-are,
    .mission {
        align-items: center;
        > * {
            width: 50%;
        }
    }

    .who-we-are {
        min-height: 580px;
        padding: 0 48px 48px;
    }

    .mission {
        padding: 80px 0;
        margin: 0 48px;
    }
}