.hero {
  color: white;
  min-height: 100vh;
  padding-top: 40px;
  z-index: 1;

  &.not-homepage {
    display: flex;
    flex-direction: column;

    .copy {
      padding: 0 24px 24px;
    }

    @media (min-width: 768px) {
      .copy {
        align-self: center;
      }
    }
  }

  .copy {
    padding: 24px;

    p {
      font-size: 20px;
      font-weight: 600;
      + p {
        margin-top: 36px;
        font-weight: 200;
      }
    }
  }
}

@media (min-width: 1024px) {
  .homepage-hero {
    display: flex;
    align-items: center;
    padding-top: 0;
  }

  .homepage-hero .copy {
    p {
      font-size: 24px;
    }
  }
}

@media (min-width: 1440px) {
  .homepage-hero .copy {
    p {
      font-size: 28px;
    }
  }
}

@media (min-width: 1600px) {
  .homepage-hero {
    max-width: 80vw;
    margin: 0 auto;
    .homepage-hero .copy {
      p {
        font-size: 32px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .hero.not-homepage {
    flex-direction: row;
  }

  .products-hero {
    .copy {
      width: 80%;
    }
    .hero-visual {
      width: 100%;
    }
  }
}

@media (min-width: 1280px) {
  .hero.not-homepage {
    margin: 0 4vw;
  }
}


.hero.not-homepage.ideas-hero {
  background: $gradientDark1;
  margin: 0;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-bottom: 4vw;
  min-height: auto;

  @media (min-width: 768px) {
    flex-direction: row;
    > * {
      width: 50%;
    }
  }

  .hero-visual.ideas {
    margin: 24px 12px 48px;
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 48px;

    @media (min-width: 768px) {
      margin-left: 4vw;
      margin-right: 4vw;
      align-items: center;
    }
  
    .between-product-page-ctas {
      height: 72px;

      @media (min-width: 768px) {
        height: 260px;
      }

      @media (min-width: 1024px) {
        height: 340px;
      }

      @media (min-width: 1280px) {
        height: 450px;
      }

      @media (min-width: 1440px) {
        height: 510px;
      }

    }
  
    .texture {
      background-size: 100%;
    }
  }
}