.hero.homepage-hero {

  h1 {
    font-size: 26px;
    font-weight: 500;
  }

  p {
    font-weight: 200;
  }

  .cta {
    margin: 0 auto;
    z-index: 500;
    position: relative;
    text-decoration: none;
    
    @media (min-width: 1024px) {
      margin-top: 48px;
    }
  }

  .slider-static {
    justify-content: space-between;
    padding: 0 16px;
    width: 80%;
    margin: 0 auto;
  }

  .arrows {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translate(-50%, -50%);
    top: 35%;
    left: 50%;
    padding: 0 16px;
    z-index: 1;

    @media (min-width: 1024px) {
      padding: 0 4vw;
      top: 50%;
    }
  }
}

.swiper-slide {
  overflow-x: hidden;
}

@media (min-width: 1024px) {
  .homepage-hero {
    display: flex;
    align-items: center;
    padding-top: 0;
  }

  .swiper-slide {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    .slide-1 {
      width: 40%;
    }

    .copy {
      width: 50%;
    }
  }

  .homepage-hero .copy {
    h1 {
      font-size: 36px;
    }
    p {
      font-size: 24px;
    }
  }
}

@media (min-width: 1440px) {
  .homepage-hero .copy {
    h1 {
      font-size: 48px;
    }
    p {
      font-size: 28px;
    }
  }
}


@media (min-width: 1600px) {
  .homepage-hero {
    max-width: 80vw;
    margin: 0 auto;
    .homepage-hero .copy {
      h1 {
        font-size: 60px;
      }
      p {
        font-size: 32px;
      }
    }
  
  }
}

