.innovation-header-container {
  position: relative;
  .texture-animation-container {
    position: absolute;
    height: 100%;
  }
  .copy {
    padding: 300px 24px 100px;

    @media (min-width: 768px) {
      padding: 200px 24px 100px;
    }

    color: white;
    h2 {
      font-weight: bold;
    }
    p {
      margin-top: 12px;
      font-size: 18px;
      line-height: 1.5;
    }
  }
}

@media (min-width: 1024px) {
  .innovation-inner-container {
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 200px;

    .copy p {
      font-size: 24px;
    }
  }
}
