.section-transition-container {
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: -1;

  > * {
    height: 100vh;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.section-transition.transition1 {
  z-index: 1;
}

.section-transition.transition2 {
  z-index: 2;
}

.section-transition.transition3 {
  z-index: 3;
}

.homepage-section-transition-container {
  .section-transition {
    opacity: 0;
  }
  .section-transition.transition1 {
    background-image: url(/images/vapors/TripleLift_Vapors_RedPinkOrange_Sm.png);
    background-size: cover;
    opacity: 1;
  }

  .section-transition.transition2 {
    background: black;
  }

  .section-transition.section3 {
    background: white;
  }
}

.productpage-section-transition-container {
  .section-transition.section1 {
    background: $gradientDark1;
  }

  .section-transition.white {
    background: white;
    opacity: 0;
  }
}

.technologypage-section-transition-container {
  .section-transition.section1 {
    background: $gradientDark1;
  }
  
  .section-transition.section2 {
    background: $gradientDark2;
    opacity: 0;
  }
}

.ideaspage-section-transition-container {
  .section-transition.white {
    background: white;
  }
  
  .section-transition.gradientDark1 {
    background: $gradientDark1;
    opacity: 0;
  }
}