.section-transition-container {
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: -1;

  > * {
    height: 100vh;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.homepage-section-transition-container {
  .section-transition.section1 {
    background: $gradientDark1;
  }

  .section-transition.section2 {
    background: black;
    opacity: 0;
  }

  .section-transition.section3 {
    background: white;
    opacity: 0;
  }
}

.productpage-section-transition-container {
  .section-transition.section1 {
    background: $gradientDark1;
  }

  .section-transition.white {
    background: white;
    opacity: 0;
  }

  .section-transition.gradient2 {
    background: $secondaryGradient1;
    opacity: 0;
  }
}

.technologypage-section-transition-container {
  .section-transition.section1 {
    background: $gradientDark1;
  }
}