.spotlessPodcastSeriesSectionContainer.explore-our-gallery-container {
    .animate-border-content {
        background: $gradientDark1;
    }

    a.explore-our-gallery .section-visual {
        max-width: 100%;
    }

    p {
        color: white;
    }
}