.hero.homepage-hero {

    .swiper-pagination {
        height: 10px;
        position: absolute;
        top: 400px;

        .swiper-pagination-bullet {
            background: #fff;
            opacity: .5;
        }

        .swiper-pagination-bullet-active {
            background: $amplifiedOrange !important;
            opacity: 1;
        }

    }
}