.team-container {
    background: $slightGray;
    padding: 36px 24px 24px;

    h2 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 24px;
    }

    .team-member-container {
        margin-top: 24px;
    }

    .name-and-title,
    .team-member-container {
        display: flex;
        flex-direction: column;
    }

    .name {
        font-weight: bold;
        font-size: 20px;
    }

    .title {
        font-size: 14px;
        margin-top: 6px;
    }

    .team-image-container {
        position: relative;
    }

    .member-image {
        margin-top: 12px;
        height: 240px;
        object-fit: cover;
        object-position: 40% 15%;
        width: 100%;
    }

    .arrow {
        position: absolute;
        right: 12px;
        bottom: 12px;
    }
    @media (min-width: 768px) {
        .rest-of-the-team {
            margin-top: 24px;
        }
        
        .three-up,
        .rest-of-the-team {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 24px;
            row-gap: 24px;
        }        
    }

}

@media (min-width: 1024px) {
    .company-page-section.leadership {
        background: $slightGray;
        padding: 48px;
        .section-copy {
            width: 70%;
        }

    }
    .team-container {
        padding: 0 72px 72px;
        .rest-of-the-team {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            row-gap: 48px;
            align-items: end;
        }
    }
}

@media (min-width: 1280px) {
    .team-container {
        .three-up {
            max-width: 900px;
            margin: 0 auto;
        }
        .rest-of-the-team {
            margin-top: 64px;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        }
    }
}

@media (min-width: 1440px) {
    .company-page-section.leadership {
        padding-left: 8vw;
        padding-right: 8vw;
    }
    .team-container {
        padding-left: calc(8vw + 24px);
        padding-right: calc(8vw + 24px);
    }

}